
   <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		 <div id="{if $coverfb}imgsmpl{else}imgsmpltw{/if}">
			<img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px"  class="coverImg"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft">
				<div id="imgframe">
					{*}
					<img src="" width="100%" height="100%" fname="{$myfoto.files}" class="bigImage" fid="{$myfoto.id}"/>
					{/*}
				</div>
			</div>
			<div id="" style="float: left;
    height: 63px;
    margin-left: -148px;
    overflow: hidden;
    width: 55px;
    margin-top:-3px;
    position: relative;">
<div id="loadingbar" align="center"></div>
				<div id="frame imgframe" style="opacity:0.4;z-index:999;position:relative">
					
					<img src="{$basedomain}assets/_assets/img/d48848a43c9cb89c77ac0723b2694c12.png" width="100%" height="100%" id="framedinamis"/>
				</div>
				<div id="frame" style="position:relative;z-index:10;margin-top:-124px; margin-left:7px">
					
					<img src="{$basedomain}assets/_assets/img/d48848a43c9cb89c77ac0723b2694c12.png" width="100%" height="100%" id="framedinamis" />
				</div>
			</div>

		 </div>
			<div class="article" style="margin-top:-50px;">
				<h2 class="isi">Ganti Foto Profil Anda</h2>
				<p class="isi"><strong>Silakan ganti foto profil dan cover photo Facebook atau Twitter Ayah dan Ibu menggunakan gambar yang telah kami sediakan untuk memenangkan hadiah menarik dari Nestlé LACTOGEN 3 Activgro.</strong> </p>
			</div>
			<div class="article">
				<a href="javascript:void(0)" id="downloadAll" class="btnpinkslide" fid="{$frame[0].files}" cid="{$frame[0].cover.files}"><span style="color:#fff">Download</span></a>
				<div style="height:20px;width:100%;clear:both;">&nbsp;</div>
				<a href="javascript:void(0)" class="btn-fslide" fid="{$frame[0].files}" cid="{$frame[0].cover.files}"><span style="color:#fff">Facebook Profile</span></a>
			</div>
		 </div>
<script type="text/javascript">
{literal}

	$(document).ready(function() {
	  $('#downloadAll').click(function() {

	  	window.location.href=basedomain+'home/thanks';
	  	return false;
				$.ajax({
					url: $(this).data("url"),
					method: 'POST',
					data: "image_id="+$(this).data("image-id")
				});
	  	  if (!window.XDomainRequest) {
		      $('a.download_file > img').each(function() {
		        $(this).trigger( "click" );
		        $(".btn-next").css("display","");
		      });

		    return false; //cancel navigation
		  } else {
		  	var link = $("#profdata").attr('href');
			var cover = $("#covdata").attr('href');
			if(link!='') window.open(link,'_blank');
			setTimeout(function(){
				if(cover!='') window.open(cover,'_blank');
			}, 1000);



			$(".btn-next").css("display","");
		  }
	  });
	});

	$(document).on('click','#sosmedButton', function(){

		// window.location.href=basedomain+'home/thanks';

		// setTimeout(function(){

			var link = $(this).attr('idfile');
			if(link!='') window.open(link,'_blank');


		// }, 1000);


	})

	$(document).on('click','.btn-next', function(){

		window.location.href=basedomain+'home/thanks';

	})
{/literal}
</script>
