
   <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		 <div id="{if $coverfb}imgsmpl{else}imgsmpltw{/if}">
			<img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px"  class="coverImg"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft">
				<div id="imgframe">
					{*}
					<img src="" width="100%" height="100%" fname="{$myfoto.files}" class="bigImage" fid="{$myfoto.id}"/>
					{/*}
				</div>
			</div>
			<div id="" style="float: left;
    height: 63px;
    margin-left: -148px;
    overflow: hidden;
    width: 55px;
    margin-top:-3px;
    position: relative;">

				<div id="frame">
					
					<img src="{$basedomain}assets/_assets/img/d48848a43c9cb89c77ac0723b2694c12.png" width="100%" height="100%" id="framedinamis"/>
				</div>
			</div>

		 </div>
		<div class="article" style="margin-top:-50px">
			<p class="isi"><strong>Silahkan pilih frame foto yang Ibu dan Ayah Suka dan sesuai dengan foto Si kecil</strong></p>
		</div>
		 <div class="article">
			<a href="javascript:void(0)"><img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px"  class="coverImg"/></a>
		 </div> 
		 <div class="article" >
			<a href="javascript:void(0)"><img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px"  class="coverImg"/></a>
		 </div> 
		 <div class="article" >
			<a href="javascript:void(0)"><img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px"  class="coverImg"/></a>
		 </div>
		<div id="wrapbtn" align="center">
				<a href="{$basedomain}article" class="btnpink"><span style="color:white">Continue</span></a>
			</div>
</div>
