<div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		 <div id="{if $coverfb}imgsmpl{else}imgsmpltw{/if}">
			<img src="{$basedomain}assets/_assets/cover/402480dc5af2d3252d3d180506092648.jpg" width="320px" height="116px" class="coverImg"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft" >
				<div style="background-color: #fff;
    border: 2px solid #FFFFFF;
    box-shadow: 0 2px 2px #888888;
    height: 63px;
    margin: 0 auto;
    margin-left:21px;
    overflow: hidden;
    width: 55px;" >
    			<div id="loadingbar" align="center"></div>
    			<div id="frame imgframe" style="opacity:1;z-index:999;position:relative; margin-top:-2px; ">
					
					<img width="100%" src="{$basedomain}assets/_assets/img/d48848a43c9cb89c77ac0723b2694c12.png" fname="{$myfoto.profile}" class="bigImage1" fid="{$myfoto.id}" id="profilePicture"/>
					
				</div>

    			<div id="frame" style="position:relative;z-index:10;margin-top:-58px; margin-left:0px">
					
					<img src="{$basedomain}assets/_assets/img/gambar.jpg" width="100%" height="100%" id="framedinamis" />
				</div>

					

				</div>
			</div>
		 </div>
		
		<div class="article" style="margin-top:-50px;">
				<p class="isi"><strong>Hasil Profile Foto yang telah dipilih</strong> </p>
			</div>
			<div class="article">
				<a href="javascript:void(0)" class="btnpinkslide continueFrame" fid="{$frame[0].files}" cid="{$frame[0].cover.files}"><span style="color:#fff">Continue</span></a>
			</div>
		</div>

<script type="text/javascript">
{literal}
	
	$(document).on('click','.chooseFrame', function(){

		var link = $(this).attr('linkcover');
		var imgFullpath = basedomain+'public_assets/cover/'+link;
		var name = $(this).attr('fname');
		var frame = $(this).attr('src');

		$('.coverImg').attr('src',imgFullpath);
		$('#framedinamis').attr('src',frame);
		$('.continueFrame').attr('fid',name);
		$('.continueFrame').attr('cid',link);
		
	})


	$(document).on('click','.continueFrame', function(){

		 window.location.href = basedomain+'uploadfoto/share';
		return false;
		var cover = $(this).attr('cid');
		var frame = $(this).attr('fid');
		
		
		var loading = "<img src='"+basedomain+"assets/images/loading.gif' width='50px'/>";
		$('#userContent').attr('align','center');
		$('#userContent').html(loading);

		// $.post(basedomain+'uploadfoto/saveFrame',{cover:cover, frame:frame}, function(data){

		// 	if (data.status==true){
				
				    window.location.href = basedomain+'uploadfoto/share';
				
		// 	}

		// },"JSON")
		
	})


	/*

	old flow 
	$(document).on('click','.chooseFrame', function(){

		var link = $(this).attr('src');

		var name = $(this).attr('fname');
		$('#framedinamis').attr('src',link);
		$('.continueFrame').attr('fid',name);
		
	})

	$(document).on('click','.continueFrame', function(){

		var frameName = $(this).attr('fid');
		var fileName = $('.bigImage').attr('fname');
		var fileid = $('.bigImage').attr('fid');
		
		$.post(basedomain+'uploadfoto/generateImage',{fileid:fileid, frameName:frameName, fileName:fileName}, function(data){

			if (data.status==true){
				
				    window.location.href = basedomain+'uploadfoto/share';
				
			}

		},"JSON")
		
	})
	*/

{/literal}
</script>