
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"><img src="{$basedomain}assets/_assets/img/title_upload.jpg" width="100%"></div>
		<div class="article">
    		<p class="isi"><strong>Ibu dan Ayah bisa mengupload foto Si Kecil dari file komputer maupun langsung dari album facebook
			</strong><p>
		</div><!-- /article -->
		<div class="article">
			<div class="file-input-wrapper">
			  <button class="btn-file-input btnpinkslideUp">Select File</button>
			  <input type="file" name="fotoupload"  id="fotoupload"/>
			</div>
			<div id="divcheckslide">
				<input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" akses="1" checked="checked"/><label for="checkboxG2" class="css-label"></label><strong>Saya setuju dengan peraturan dan ketentuan yang berlaku</strong>
				
			</div>
		</div>

	</div><!-- /content -->