
{if $page.page!='article'}
	{$classfooter="position:absolute;bottom:25px;"}
{/if}
<div id="wrapperfooter" style="border:0px solid #000;{$classfooter}width:100%">

	<div id="footer" align="center">	
	<!--<img src="{$basedomain}assets/img/footer.png" style="height:100%"/>-->
	</div>
	<div id="titlefooter">
		<div id="titlefooterleft">Nestl&eacute; LACTOGEN 3 ActivGro &copy; 2014. All Right Reserved</div>
		<div id="titlefooterright" align="right">
			<!--<span  id='#'>
			<a href='{$basedomain}home/privacy'>Privasi</a></span>. 
			-->
			<span  id='basic-modal'><a href='#' class='basic1'>Kebijakan Privasi</a></span>.
			<span  id='basic-modal'><a href='#' class='basic2'>Syarat & Ketentuan</a></span>. <a href="https://www.facebook.com/RumahNutrisiNestle" target="_blank">Facebook</a>
		</div>
	</div>
</div>
  	<script src="{$basedomain}assets/js/WallopSlider.js"></script>
  	<script src="{$basedomain}assets/js/script.js"></script>
	
	<script type='text/javascript' src='{$basedomain}assets/js/basic.js'></script>
	
	

	<script type="text/javascript" src="{$basedomain}assets/js/modernizr.custom.04022.js"></script>
  	<script type="text/javascript" src="{$basedomain}assets/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript">
	
		$(function(){
			$('#postdate').datepicker({
				dateFormat:'yy-mm-dd'
			});
			$('#postdate1').datepicker({
				dateFormat:'yy-mm-dd'
			});
			$('#postdate2').datepicker({
				dateFormat:'yy-mm-dd'
			});

			
		});
	</script>

	<!-- Beatpicker -->
	<script src="{$basedomain}assets/js/plugins/beatpicker/js/BeatPicker.min.js"></script>

	<script type="text/javascript" src="{$basedomain}assets/js/jquery.form.js"></script>
	<script type="text/javascript" src='{$basedomain}assets/js/jquery.guillotine.js'></script>

	<div id="basic-modal-content" class="global">
			<div id="headerPopup"></div>
			<div id="contentPopup"></div>
		</div>

	
</body>
</html>