
<div id="wrapperfooter">
	<div id="footer">
	<img src="{$basedomain}assets/img/footer.png" width="1350px"/>
	</div>
</div>
  	<script src="{$basedomain}assets/js/WallopSlider.js"></script>
  	<script src="{$basedomain}assets/js/script.js"></script>
	<script type='text/javascript' src='{$basedomain}assets/js/jquery.js'></script>
	<script type='text/javascript' src='{$basedomain}assets/js/jquery.simplemodal.js'></script>
	<script type='text/javascript' src='{$basedomain}assets/js/basic.js'></script>
	<script type="text/javascript" src="{$basedomain}assets/js/jquery.form.js"></script>
	<script type="text/javascript" src='{$basedomain}assets/js/jquery.guillotine.js'></script>
	<div id="basic-modal-content" class="global">
			<div id="headerPopup"></div>
			<div id="contentPopup"></div>
		</div>

	<li  id='basic-modal' style='display:none'><a href='#' class='global-popup' style="display:none"></a></li>
</body>
</html>