{$classhome=''}
{$classarticle=''}
{if $page.page=='home'}
	{$classhome="class='active'"}
{/if}
{if $page.page=='article'}
	{$classarticle="class='active'"}
{/if}
<body>

		
<div id="wrapperheader">	
	
	<div id="header">
		<div id="logo" >
			<!--<img src="{$basedomain}assets/img/logo.png"/>-->
		</div>
		<div id="menu">
			<div id='cssmenu'>
			<ul>
			   <li  {$classhome}><a href='{$basedomain}'><span>Home</span></a></li>
				<li  id='basic-modal'><a href='#' class='basic'><span>Tentang</span></a></li>
			   <li  id='basic-modal'><a href='#' class='basic2'><span>Syarat & Ketentuan</span></a></li>
			   <li {$classarticle}><a href='{$basedomain}article'><span>Artikel</span></a></li>
			   {if $user}
			   <li class='last'><a href='{$logoutUrl}'><img src="{$basedomain}assets/img/logout.png"/><span>&nbsp;</span></a></li>
			   {else}
				<li class='last'><a href='#'><span>&nbsp;</span></a></li>
			   {/if}
			</ul>
			</div>
		</div>
	</div>
	<img src="{$basedomain}assets/img/logo.png" class="imgLogo"/>
</div>

<!---ABOUT-->
		<div id="basic-modal-content">
			<div id="imgAbout">
				<img src="{$basedomain}assets/file/about.png" />
			</div>
			<div id="contentAbout">
			<span class="titleAbout">Berbagi Momen Keceriaan Si Kecil!</span>
			<p class="isiAbout">Menyaksikan Si Kecil tumbuh sehat & ceria adalah keinginan setiap orang tua. Siapa yang tak senang melihat Si Kecil memainkan tuts piano, belajar menggambar atau berhasil menulis namanya sendiri? Abadikan selalu momen keceriaan Si Kecil dalam mengekspresikan kreativitasnya di Go with ActivGro!<br>Dukung keceriaan Si Kecil dengan vitamin dan mineral yang cukup agar Ia tumbuh optimal. Susu Pertumbuhan Nestl&eacute; LACTOGEN 3 ActivGro hadir untuk Si Kecil yang berusia 1-3 tahun yang diperkaya 12 vitamin, 7 mineral, Minyak Ikan dan LA untuk selalu mendukung tumbuh kembangnya. Setelah itu, lanjutkan kebutuhan nutrisinya dengan Nestl&eacute; LACTOGEN 4 ActivGro sampai Ia berusia 5 tahun. Diperkaya dengan 11 vitamin, 8 mineral dan minyak ikan.<br>Bantu penuhi nutrisi Si Kecil dengan Nestl&eacute; LACTOGEN 3 ActivGro dan lanjutkan dengan Nestl&eacute; LACTOGEN 4 ActivGro. Si Kecil yang aktif dan ceria akan selalu menjadi kebanggan Ibu dan Ayah!
</p>
			</div>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>
<!--term condition-->
		<div id="basic-modal-content" class="term">
			<span class="titleAbout">Syarat dan Ketentuan</span>
			<p class="isiAbout">
				Dear Ibu dan Ayah, berikut ini adalah syarat dan ketentuan untuk mengikuti kompetisi <strong>Go with Activgro:</strong><br/>
				<ol class="isiAbout">
					<li>
						Peserta wajib memberikan &#39;Like&#39; pada Facebook Fanpage <strong>&#39;Rumah Nutrisi Nestl&eacute;&#39;</strong>.
					</li>
					<li>
						Kompetisi diperuntukkan bagi keluarga <strong>Rumah Nutrisi Nestl&eacute;</strong> yang memiliki anak berusia 1 - 5 tahun pada 5 Oktober 2014.
					</li>
					<li>
						Periode kompetisi <strong>Go with ActivGro</strong>  berlangsung mulai tanggal 1 September - 5 Oktober 2014.
					</li>
					<li>
						Foto yang diunggah merupakan karya asli peserta dan belum pernah diikutsertakan dalam kompetisi apapun.
					</li>
					<li>
						Foto yang diunggah tidak diperkenankan mengandung unsur politik, SARA, dan pornografi.
					</li>
					<li>
						Peserta diperbolehkan untuk sharing dan memberikan komentar melalui media sosial mengenai foto yang dikirim.
					</li>
					<li>
						Akan ada 4 (empat) orang pemenang yang berhak mendapatkan hadiah berupa:
						<ul type="disc">
							<li>
								Pemenang kedua: Satu buah Samsung Galaxy Tab 4 8.0 3G [SM-T331] - Black
							</li>
							<li>
								Pemenang ketiga: Satu buah Sepeda Anak Mini Kids 14&quot; - Blue
							</li>
							<li>
								Pemenang favorit: Jalan-jalan sekeluarga ke Milk Processing Tour (Pabrik Nestl&eacute;) dan Jatim Park 2 untuk 4 (empat) orang
							</li>
						</ul>
					</li>
					<li>
						Kriteria pemenang adalah sebagai berikut:
						<ul type="disc">
							<li>
								Peserta yang memberikan &#39;Like&#39; pada Facebook <strong>Rumah Nutrisi Nestl&eacute;</strong>.
							</li>
							<li>
								Peserta yang memasang foto profil dan cover photo yang disediakan oleh kompetisi <strong>Go with Activgro</strong> pada Facebook atau Twitter masing-masing.
							</li>
							<li>
								Peserta yang telah share notifikasi keikutsertaannya di akun media sosial miliknya.
							</li>
							<li>
								Peserta dengan foto yang menunjukkan si Kecil aktif.
							</li>
							<li>
								Peserta dengan foto yang paling sesuai dengan tema dan frame foto (kegiatan outdoor, musik, seni, mengenakan kaos <strong>Nestl&eacute; LACTOGEN 3 ActivGro</strong>).
							</li>
							<li>
								Pemenang favorit diambil dari peserta yang mengenakan kaos <strong>Nestl&eacute; LACTOGEN 3 ActivGro</strong> yang bisa diperoleh dari promo Indomaret (16-30 September 2014 dan selama persediaan masih ada).
							</li>
						</ul>
					</li>
					<li>
Kandidat pemenang akan dihubungi oleh pihak <strong>Rumah Nutrisi Nestl&eacute;</strong> untuk verifikasi data.
</li>
<li>
Kandidat pemenang wajib memberikan dan/atau mengisi data-data sebagaimana diminta oleh penyelenggara dengan benar dan lengkap, paling lambat 1 minggu setelah ada konfirmasi data dari penyelenggara.</li>
<li>
Penyelenggara berhak melakukan verifikasi atas kebenaran data-data yang peserta isi dan/atau berikan sesuai dengan syarat dan ketentuan yang berlaku. Kandidat pemenang yang melanggar ketentuan ini akan didiskualifikasikan. </li>
<li>
Pengumuman pemenang akan dilakukan melalui Facebook Fanpage <strong>Rumah Nutrisi Nestl&eacute;</strong>.</li>
<li>
<strong>Rumah Nutrisi Nestl&eacute;</strong> berhak mendiskualifikasi peserta yang telah terbukti melakukan kecurangan.</li>
<li>
Semua foto yang diunggah, sepenuhnya menjadi hak milik <strong>Rumah Nutrisi Nestl&eacute;</strong> dan dapat digunakan untuk kepentingan promosi maupun publikasi.</li>
<li>
<strong>Rumah Nutrisi Nestl&eacute;</strong> tidak memungut biaya apapun dalam kompetisi ini.</li>
<li>
<strong>Rumah Nutrisi Nestl&eacute;</strong> tidak bertanggung jawab atas klaim pihak ketiga terhadap foto yang telah diikutsertakan dalam kompetisi ini.</li>
<li>
Peraturan ini dapat diubah sewaktu-waktu oleh pihak <strong>Rumah Nutrisi Nestl&eacute;</strong>.</li>
</ol>

</p>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>

		<!--privacy-->
		<div id="basic-modal-content" class="privacy">
			<h3>Privacy</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula id sem tristique ultrices eget id neque. Duis enim turpis, tempus at accumsan vitae, lobortis id sapien. Pellentesque nec orci mi, in pharetra ligula. Nulla facilisi. Nulla facilisi. Mauris convallis venenatis massa, quis consectetur felis ornare quis. Sed aliquet nunc ac ante molestie ultricies. Nam pulvinar ultricies bibendum. Vivamus diam leo, faucibus et vehicula eu, molestie sit amet dui. Proin nec orci et elit semper ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed quis urna mi, ac dignissim mauris. Quisque mollis ornare mauris, sed laoreet diam malesuada quis. Proin vel elementum ante. Donec hendrerit arcu ac odio tincidunt posuere. Vestibulum nec risus eu lacus semper viverra. </p>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>