{$classhome=''}
{$classarticle=''}
{if $page.page=='home'}
	{$classhome="class='active'"}
{/if}
{if $page.page=='article'}
	{$classarticle="class='active'"}
{/if}
<body>

		
<div id="wrapperheader">	
	
	<div id="header">
		<div id="logo" >
			<!--<img src="{$basedomain}assets/img/logo.png"/>-->
		</div>
		<div id="menu">
			<div id='cssmenu'>
			<ul>
			   <li  {$classhome}><a href='{$basedomain}'><span>Home</span></a></li>
				<li  id='basic-modal'><a href='#' class='basic'><span>Tentang</span></a></li>
			   <li  id='basic-modal'><a href='#' class='basic2'><span>Syarat & Ketentuan</span></a></li>
			   <li {$classarticle}><a href='{$basedomain}article'><span>Artikel</span></a></li>
			   {if $user}
			   <li class='last'><a href='{$logoutUrl}'><img src="{$basedomain}assets/img/logout.png"/><span>&nbsp;</span></a></li>
			   {else}
			   <li class='last'>&nbsp;</li>
			   {/if}
			</ul>
			</div>
		</div>
	</div>
	<img src="{$basedomain}assets/img/logo.png" class="imgLogo"/>
</div>

<!---ABOUT-->
		<div id="basic-modal-content">
			<div id="imgAbout">
				<img src="{$basedomain}assets/file/Bumper_produk.png" width="110%"/>
			</div>
			<div id="contentAbout">
			<span class="titleAbout">Berbagi Momen Keceriaan Si Kecil!</span>
			<p class="isiAbout">Menyaksikan Si Kecil tumbuh sehat & ceria adalah keinginan setiap orang tua. Siapa yang tak senang melihat Si Kecil memainkan tuts piano, belajar menggambar atau berhasil menulis namanya sendiri? Abadikan selalu momen keceriaan Si Kecil dalam mengekspresikan kreativitasnya di Go with ActivGro!<br><br>Dukung keceriaan Si Kecil dengan vitamin dan mineral yang cukup agar Ia tumbuh optimal. Susu Pertumbuhan Nestl&eacute; LACTOGEN 3 ActivGro hadir untuk Si Kecil yang berusia 1-3 tahun yang diperkaya 12 vitamin, 7 mineral, Minyak Ikan dan LA untuk selalu mendukung tumbuh kembangnya. Setelah itu, lanjutkan kebutuhan nutrisinya dengan Nestl&eacute; LACTOGEN 4 ActivGro sampai Ia berusia 5 tahun. Diperkaya dengan 11 vitamin, 8 mineral dan minyak ikan.<br><br>Bantu penuhi nutrisi Si Kecil dengan Nestl&eacute; LACTOGEN 3 ActivGro dan lanjutkan dengan Nestl&eacute; LACTOGEN 4 ActivGro. Si Kecil yang aktif dan ceria akan selalu menjadi kebanggan Ibu dan Ayah!
</p>
			</div>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>
<!--term condition-->
		<div id="basic-modal-content" class="term">
			<span class="titleAbout">Syarat dan Ketentuan</span>
			<p class="isiAbout">
				<p class="isiAbout">Program ini diselenggarakan oleh <strong>PT. NESTL&Eacute; INDONESIA</strong>, berkantor di Perkantoran Hijau Arkadia, Wisma Nestle Lantai 5, Jl. Let. Jend. TB. Simatupang Kav. 88, Jakarta Selatan 12520 (untuk selanjutnya disebut sebagai <strong>"Penyelenggara"</strong>).</p>
				<p class="isiAbout">
				Seluruh peserta yang terlibat dan berpartisipasi aktif dalam Program ini <strong>("Peserta")</strong>, dengan ini dianggap telah membaca dan memahami dengan baik, serta setuju tanpa syarat untuk patuh dan taat pada syarat dan ketentuan Program sebagaimana tercantum di bawah ini termasuk seluruh perubahannya jika ada <strong>("Ketentuan")</strong>. Keputusan Penyelenggara mengenai semua hal-hal yang terkait dengan Program ini bersifat final.</p>
				<ol class="isiAbout" type="A">
					<li>
						<strong>SYARAT AWAL</strong>
						<ol>
							<li>
								Warga Negara Indonesia dan bertempat tinggal di Indonesia.
							</li>
							<li>
								Program ini ditujukan bagi para Peserta yang memiliki anak berusia 1 sampai dengan 5 tahun per 1 September 2014 <strong>("Anak")</strong>.
							</li>
							
						</ol>
					</li>
					<li>
						<strong>MEKANISME PROGRAM</strong>
						<ol>
							<li>
								Peserta wajib memberikan "Like" pada Facebook Fanpage <strong>Rumah Nutrisi Nestl&eacute;</strong> www.RumahNutrisiNestl&eacute;.com/GowithActivGro.
							</li>
							<li>
								Peserta wajib mengunggah foto Anak yang menunjukkan Si Kecil pada usia 1 - 5 tahun yang aktif dan ceria menjadi foto profil pada halaman facebook atau twitter Peserta beserta cover foto yang dapat diunduh dari  www.RumahNutrisiNestl&eacute;.com/GowithActivGro.  Foto yang diunggah merupakan foto Anak yang belum pernah diikutsertakan dalam kompetisi mana pun.
							</li>
							<li>
								Foto Anak disesuaikan dengan tema di frame foto (kegiatan outdoor, musik, seni dan Anak mengenakan kaos Happy Tummy Shirt yang didapatkan dari pembelian produk LACTOGEN 3 ActivGro selama promo Indomaret (<strong>16 - 30 September 2014</strong> dan selama persediaan masih ada).
							</li>
							<li>
								Peserta harus melakukan "Share" notifikasi keikutsertaannya dalam Program di akun media sosial milik Peserta.  Peserta diperkenankan untuk berbagi dan memberikan komentar melalui media sosial atas foto yang diunggah.
							</li>
							<li>
								Periode Program adalah <strong>1 September - 5 Oktober 2014</strong>.
							</li>
							<li>
								Peserta hanya berkesempatan memenangkan Hadiah sebanyak 1 (satu) kali.
							</li>
							<li>
								Pemenang akan diumumkan di media online-digital setelah Periode Program ini berakhir
							</li>
						</ol>
					</li>
					<li>
						<strong>HADIAH</strong><br/>
						Peserta yang terpilih sebagai pemenang Program <strong>("Pemenang")</strong> wajib tunduk pada ketentuan sebagai berikut:
						<ol>
							<li>
							Hadiah <strong>("Hadiah")</strong> Program adalah sebagai berikut:
							<ol type="a">
								<li>
									Pemenang Pertama: Perjalanan keluarga ke Singapura (Ayah, Ibu dan 2 anak) selama 3 hari 2 malam
	<i>*Pembuatan paspor tidak di tanggung oleh Penyelenggara</i>
								</li>
								<li>
									Pemenang Kedua: 1 (satu) buah Samsung Galaxy Tab 4 8.0 3G (SM-T331)
								</li>
								<li>
									Pemenang Ketiga: 1 (satu) buah sepeda anak Mini Kids 14"
								</li>
								<li>
									Pemenang Favorit : Perjalanan keluarga (Ayah, Ibu dan 2 anak) ke Jatim Park dan mengunjungi Pabrik Penyelenggara di Kejayan, Pasuruan selama 3 hari 2 malam.
								</li>
							</ol>
						</li>
						<li>
							Kandidat Pemenang akan dihubungi Penyelenggara untuk verifikasi data diri.  Kandidat Pemenang wajib memberikan dan/atau mengisi data diri sebagaimana diminta oleh Penyelenggara dengan benar dan lengkap, paling lambat 1 (satu) minggu setelah dikonfirmasi pihak Penyelenggara.  Penyelenggara berhak melakukan verifikasi data kandidat Pemenang dan 
						</li>
						<li>
							Hadiah dan biaya yang ditanggung pihak Penyelenggara adalah tiket perjalanan pulang-pergi, akomodasi, tur dan makan pada tempat yang telah ditentukan. Pajak Hadiah ditanggung oleh Pihak Penyelenggara.
						</li>
						<li>
							Hadiah tidak dapat dikembalikan dan/atau ditukarkan dengan uang maupun produk dari Penyelenggara.
						</li>
						<li>
							Seluruh biaya tambahan yang terkait dengan penerimaan atau penggunaan Hadiah, baik secara langsung maupun tidak langsung, merupakan tanggung jawab Pemenang.
						</li>
						</ol>
					</li>
					<li>
						<strong>DATA PRIBADI</strong>
						<br/>
						Dengan menyetujui Ketentuan ini, maka setiap Peserta bersedia dan memberikan izin untuk dihubungi oleh Penyelenggara melalui direct message, email, telepon atau sms. Dengan berpartisipasi dalam Program ini, setiap Peserta dianggap sudah memberikan persetujuan dan kewenangan kepada Penyelenggara untuk mengungkapkan data pribadi setiap Peserta untuk kepentingan Penyelenggara.  Selain itu, Penyelenggara juga berhak untuk menggunakan, mempublikasikan atau menampilkan data pribadi dari setiap Peserta dan setiap Pemenang untuk keperluan iklan dan publikasi, jika dianggap perlu oleh Penyelenggara.
					</li>
					<li>
						<strong>LAIN-LAIN</strong>
						<ol>
							<li>

								Setiap materi yang diikutsertakan dalam Program harus merupakan kreasi asli dan milik pribadi Peserta, tidak mengandung unsur kekerasan, pelecehan, pornografi, tidak menyinggung SARA dan tidak melanggar hak milik intelektual pihak lain manapun.  Penyelenggara tidak bertanggung jawab atas kerugian maupun kerugian pihak ketiga mana pun yang timbulkan dari hasil karya Peserta.  Materi tersebut menjadi hak milik Penyelenggara dan Penyelenggara berhak untuk mempergunakannya sesuai dengan kepentingan Penyelenggara untuk kurun waktu yang tidak terbatas.  Penyelenggara tidak bertanggung jawab atas klaim pihak ketiga atas materi yang diikutsertakan dalam Program.
							</li>
							<li>
								Program ini tidak berlaku untuk karyawan PT Nestl&eacute; Indonesia, dan seluruh pihak yang terkait dengan penyelenggaraan Program ini.
							</li>
							<li>
								Penyelenggara, menurut pertimbangannya sendiri, berhak untuk mendiskualifikasikan Peserta maupun Pemenang yang tidak memenuhi dan/atau melanggar dan/atau dicurigai melakukan kecurangan terhadap Ketentuan ini. 
							</li>
							<li>
								Penyelenggara memiliki hak untuk mengubah Ketentuan, jika dianggap perlu, tanpa perlu ada pemberitahuan terlebih dahulu.
							</li>
							<li>
								Jika ada salah satu pernyataan dan/atau pelaksanaan dari Ketentuan ditemukan batal, melanggar hukum atau tidak dapat dilaksanakan maka poin tersebut tidak mempengaruhi Ketentuan lain untuk tetap berlaku.
							</li>
							<li>
								Program ini tidak dipungut biaya apapun.  Pajak ditanggung pihak Penyelenggara. Hati-hati penipuan.
							</li>
							<li>
								Untuk keterangan lebih lanjut, silahkan hubungi Sahabat Nestl&eacute; di nomor 0-800-1-821028 (bebas pulsa).
							</li>
						</ol>
					</li>
				</ol>

					

</p>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>

		<!--privacy-->
		<div id="basic-modal-content" class="privacy">
			<span class="titleAbout" style="margin-left:25px">Kebijakan Privasi</span>

		<p class="isiAbout">
			<ol class="isiAbout">
				<li>
					<strong>Nestl&eacute; LACTOGEN ActivGro</strong> (Kami) menghormati privasi Anda. Kami ingin Anda memahami bahwa setiap kali Anda mengunjungi atau mendaftar di kompetisi <strong>Go with ActivGro</strong>, Anda setuju dengan Syarat dan Ketentuan kami dan memahami Kebijakan Privasi kami.
				</li>
				<li>
					Kebijakan ini berlaku untuk pengumpulan dan penggunaan informasi pribadi pengguna (user) yang berada di bawah kendali langsung kompetisi <strong>Go with ActivGro</strong>. Ini tidak berlaku untuk perusahaan lain atau organisasi situs web yang terkait dengan kami. Kebijakan ini menjelaskan jenis informasi apa yang kami kumpulkan tentang Anda, bagaimana kami menggunakannya, dalam keadaan apa kami mengungkapkannya kepada pihak ketiga, dan hak-hak Anda untuk memperbarui atau memperbaikinya.
				</li>
				<li>
					Tujuan Kebijakan Privasi adalah untuk melindungi para pengguna dan karyawan dari pencurian identitas atau penipuan, rasa malu yang dihasilkan dari ketidakbijaksanaan terkait rincian pribadi mereka, perlakuan yang tidak adil atau pemasaran yang menipu.
				</li>
				<li>
					Pengumpulan informasi pribadi akan dibatasi pada item yang diperlukan untuk memenuhi dan melengkapi proses pendaftaran kompetisi <strong>Go with ActivGro</strong>. Informasi tambahan mungkin dibutuhkan dan diambil dengan izin pengguna, termasuk penjelasan tujuannya.
					</li>
				<li>
					Informasi pribadi yang dikumpulkan akan diperlakukan sebagai konfidensial dan kompetisi <strong>Go with ActivGro</strong> akan memberlakukan perlindungan yang memenuhi syarat secara prosedural, teknis dan fisik sebagai perlindungan terhadap kehilangan, penyalahgunaan, akses tidak sah, pengungkapan atau perubahan.
					</li>
				<li>
					Adalah kebijakan kami bahwa hanya yang berwenang dari agensi atau staf kompetisi <strong>Go with ActivGro</strong> yang dapat mengakses dan menggunakan informasi pribadi Anda. Staf atau agensi yang melanggar Kebijakan Privasi kami tunduk pada proses disipliner.
					</li>
				<li>
					Adalah kebijakan kami untuk tidak berbagi informasi pribadi pengguna di luar kompetisi <strong>Go with ActivGro</strong> untuk tujuan apapun selain kepentingan kompetisi <strong>Go with ActivGro</strong>, kecuali pengungkapan tersebut telah disahkan oleh pengguna atau diizinkan atau diharuskan oleh hukum.</li>
				<li>
					Dengan mengikuti Kompetisi <strong>Go with ActivGro</strong> berarti Anda telah menyetujui isi Kebijakan Privasi ini. Jika Anda tidak berkenan dengan Kebijakan Privasi kami, mohon untuk tidak mengikuti kompetisi ini.
					</li>
				</ol>
		</p>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>