
<div id="wrapperhome">
	<div id="slides">
		 <div class="sp-slideshow">
			
				<input id="button-1" type="radio" name="radio-set" class="sp-selector-1"  checked="checked"/>
				<label for="button-1" class="button-label-1" style="opacity:0"></label>
				
				<input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
				<label for="button-2" class="button-label-2" style="opacity:0"></label>
				
				<label for="button-1" class="sp-arrow sp-a1"></label>
				<label for="button-2" class="sp-arrow sp-a2"></label>
				
				<div class="sp-content">
					<div class="sp-parallax-bg"></div>
					<ul class="sp-slider clearfix">
						<li>
							<div style="margin:0 auto;width:627px;margin-left:0px;border:0px solid #000"> 
								<div style="margin:0 auto;float:left;width:242px;border:0px solid #000">
									<img src="{$basedomain}assets/file/slide-1-img.png" alt="slide-1"/>
								</div>
								<div style="margin:0 auto;float:left;width:370px;border:0px solid #000">
									<div id="contentSlide">
										<!--<span class="titleSlide">Si Kecil Aktif dan Ceria? Raih Jalan-jalan ke Singapura!</span>-->
										<img src="{$basedomain}assets/file/title.png" />
										<p class="isiSlide">Nestl&eacute; LACTOGEN 3 ActivGro mengajak Ibu dan Ayah untuk berbagi momen keceriaan Si Kecil yang aktif di Go with ActivGro dan menangkan hadiah menarik lainnya.<br/><br/>
										<a href="{$basedomain}home/connect" class="btnpinkslide" style="font-size:12">Tunjukkan keceriannya sekarang juga!</a>
</p>
										</div>
								</div>
							</div>
						</li>
						<li class="my-button"><img src="{$basedomain}assets/file/slide-2.png" alt="slide-2" />
						
						<br/>
						{if $user}
							<a href="{$basedomain}uploadfoto/pilihframe" class="btnpinkslide">Ikuti Sekarang</a>
						{else}
							<a href="{$basedomain}home/connect" class="btnpinkslide">Ikuti Sekarang</a>
						{/if}
						
	
						</li>
					</ul>
				</div> <!-- sp-content -->
				
			</div> <!-- sp-slideshow -->
	</div>
</div>


<script type="text/javascript">
		{literal}
		$(function(){
			
			

			setTimeout(function(){
				// panggil slide 2
				slide2();
				
			}, 8000);

			setTimeout(function(){
				
				slide1();
			}, 16000);
		});

		// $(document).on('click','.sp-a1', function(){

		// 	console.log('slide1');
		// 	setTimeout(function(){
		// 		console.log('ada');
		// 		$('#button-2').trigger('click');
				
		// 	}, 2000);
		// })
		
		function slide1()
		{
			$('#button-1').trigger('click');
			setTimeout(function(){
				
				slide2();
			}, 16000);
		}

		function slide2()
		{
			$('#button-2').trigger('click');
			setTimeout(function(){
				
				slide1();
			}, 16000);
		}

		{/literal}
	</script>


      