
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
  <title>Nestle ActivGro</title>
  <link rel="stylesheet" href="{$basedomain}assets/css/stylesmenu_1200x700.css"/>
  <link rel="stylesheet" href="{$basedomain}assets/css/styles_1200x700.css"/>
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/css/styleslide.css" />
  <script type="text/javascript" src="{$basedomain}assets/js/modernizr.custom.04022.js"></script>
  <script type="text/javascript" src="{$basedomain}assets/js/jquery-1.10.2.min.js"></script>
  
  <link rel="stylesheet" href="{$basedomain}assets/css/all.css"/>
  <link type='text/css' href='{$basedomain}assets/css/basic.css' rel='stylesheet' media='screen' />
  <link rel="stylesheet" href="{$basedomain}assets/css/jquery-ui.css"/>
  <link rel="stylesheet" href="{$basedomain}assets/css/jquery-ui-timepicker-addon.css"/>
  <link rel="stylesheet" href="{$basedomain}assets/js/plugins/beatpicker/css/BeatPicker.min.css"/>
  <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'/>
  <!--[if (gte IE 6)&(lte IE 8)]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <script type="text/javascript" src="/assets/js/selectivizr.js"></script>
<![endif]-->
<link href="{$basedomain}assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />


</head>

<script type="text/javascript">
	var basedomain = "{$basedomain}";

	
</script>