<div id="wrapperhome2">
	<div id="userthanks" >
		<div id="imgupload"><img src="{$basedomain}assets/file/thanks.jpg"/></div>
		<div class="isiThanks">telah mengikuti kompetisi Go with ActivGro. Jangan lupa untuk mengganti profile picture dan cover photo di Facebook Ayah dan Ibu untuk mendapatkan kesempatan liburan ke Singapur dan hadiah menarik lainnya ya.<br/><br/></div>
		<div id="divbtnslide" align="center">
		 <a href="{$basedomain}article" class="btnpinkslide">Lihat Artikel Go with ActivGro</a>
		</div>
	</div>
</div>