<div id="wrapdetailarticle">
	{if $article}
	<div id="articeDetail">
		<div id="articleImg">
			<img src="{$basedomain}public_assets/{$article[0].image}" width="434px"/>
		</div><br/>
		<div id="articleDesc">
			<span class="title"><p class="wordwrap">{$article[0].title}</p></span>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>{$article[0].changeDate}</span></strong><br/><br/>
			<span class="brief">{$article[0].content}</span><br/><br/>
		</div>
	</div>
	{/if}
</div>
<div id="wrapper">
	<div id="wrapbtn" align="left">

			<a href="{if $prevNextArticle.prev=='#'}javascript:void(0){else}{$basedomain}article/detail/?id={$prevNextArticle.prev}{/if}" class="btnpink">Prev Article</a>
		
	</div>
	
	<div id="wrapbtn" align="center">
	{if $user}
		<a href="{$basedomain}uploadfoto/pilihframe" class="btn-f">&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a href="{$basedomain}uploadfoto/pilihframe" class="btn-t">&nbsp;</a>
	{else}
		<a href="{$basedomain}home/connect/?login=true" class="btn-f">&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a href="{$accessUrlTwitter}" class="btn-t">&nbsp;</a>
	{/if}

	</div>

	<div id="wrapbtn" align="right">

			<a href="{if $prevNextArticle.next=='#'}javascript:void(0){else}{$basedomain}article/detail/?id={$prevNextArticle.next}{/if}" class="btnpink">Next Article</a>

	</div>

</div>
<div id="wrapperpembatas" align="center">
<span class="pembatas">
<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>&nbsp;&nbsp;&nbsp;&nbsp;Artikel Lainnya&nbsp;&nbsp;&nbsp;&nbsp;<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>
</span>
</div>
<div id="wrapper">

	{if $getRandomArticle}
	{foreach $getRandomArticle as $val}
	<div id="article">
		<img src="{$basedomain}public_assets/{$val.image}"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">{$val.title}</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">{$val.brief}</span><br/><br/>
			<span><a href="{$basedomain}article/detail/?id={$val.id}"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/foreach}
	{/if}

	{*}
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/*}

</div>{*}
<div id="wrapperbtn" align="center">
	<div id="divbtn">
		<a href="{$basedomain}home/connect" class="btngold loadMore" pid="3">Ikuti Kompetisi Go with Activgro</a>
	</div>
</div>{/*}