<div id="wrapdetailarticle">
	<div id="articeDetail">
		<div id="articleImg">
			<img src="{$basedomain}assets/file/gambardetail.jpg" width="434px"/>
		</div><br/>
		<div id="articleDesc">
			<span class="title"><p class="wordwrap">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</p></span>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>15 mei 2014</span></strong><br/><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara Optimal, Lactogen ActiveGro Koni Hadir dengan 19 vitamin dan mineral yang membantu Si kecil tumbuh sehat. kuat, cerdas, dan ceria. dilengkapi dengan kandungan probiotik untuk menjaga kesehatan saluran cerna, nutrisi pun terserap optimal sehingga keutuhanenergi, vitamin dan mineral sikecil tercukupi. pastinya menyenangkan melihat si kecil dapat tumbuh sehat, kuat, cerdas, dan ceria. ayo tunjukkan aksi lactogen ActivGro kids si kecil dan menangkan berbagai hadiah menarik dari lactogen Activgro</span><br/><br/>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="wrapbtn" align="left">

			<a href="#" class="btnpink">Prev Article</a>
		
	</div>
	<div id="wrapbtn" align="center">
	<a href="#" class="btn-f">&nbsp;</a>&nbsp;&nbsp;&nbsp;
	<a href="#" class="btn-t">&nbsp;</a>
	</div>
	<div id="wrapbtn" align="right">

			<a href="#" class="btnpink">Next Article</a>

	</div>

</div>
<div id="wrapperpembatas" align="center">
<span class="pembatas">
<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>&nbsp;&nbsp;&nbsp;&nbsp;Artikel Lainnya&nbsp;&nbsp;&nbsp;&nbsp;<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>
</span>
</div>
<div id="wrapper">
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	
</div>