<div id="wrapdetailarticle">
	{if $article}
	<div id="articeDetail">
		<div id="articleImg">
			<img src="{$basedomain}assets/file/gambardetail.jpg" width="434px"/>
		</div><br/>
		<div id="articleDesc">
			<span class="title"><p class="wordwrap">{$article[0].title}</p></span>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>{$article[0].changeDate}</span></strong><br/><br/>
			<span class="brief">{$article[0].content}</span><br/><br/>
		</div>
	</div>
	{/if}
</div>
<div id="wrapper">
	<div id="wrapbtn" align="left">

			<a href="{if $prevNextArticle.prev=='#'}javascript:void(0){else}{$basedomain}article/detail/?id={$prevNextArticle.prev}{/if}" class="btnpink">Prev Article</a>
		
	</div>
	<div id="wrapbtn" align="center">
	<a href="{$basedomain}home/connect" class="btn-f">&nbsp;</a>&nbsp;&nbsp;&nbsp;
	<a href="{$basedomain}home/connect" class="btn-t">&nbsp;</a>
	</div>
	<div id="wrapbtn" align="right">

			<a href="{if $prevNextArticle.next=='#'}javascript:void(0){else}{$basedomain}article/detail/?id={$prevNextArticle.next}{/if}" class="btnpink">Next Article</a>

	</div>

</div>
<div id="wrapperpembatas" align="center">
<span class="pembatas">
<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>&nbsp;&nbsp;&nbsp;&nbsp;Artikel Lainnya&nbsp;&nbsp;&nbsp;&nbsp;<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>
</span>
</div>
<div id="wrapper">
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	
</div>