<div id="wrapper">
	{if $article}
	{foreach $article as $val}
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">{$val.title}</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">{$val.brief}</span><br/><br/>
			<span><a href="{$basedomain}article/detail/?id={$val.id}"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/foreach}
	{/if}

	{*}
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/*}
</div>
<div id="wrapperbtn" align="center">
	<div id="divbtn">
		<a href="#" class="btnpink">Load More</a>
	</div>
</div>