
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"><img src="{$mobile_domain}assets/images/title_connect.jpg" width="100%"></div>
		<div class="article divconnect">
		<div class="btnConnect" align="center">
			 <a onClick="ga('send', 'event', 'Button', 'Click', 'FBConnect');" data-href="{$accessUrlFb}" class="btn-fslide connectButton">&nbsp;<span style="color:white">Connect</span></a>
			 <div style="height:30px;clear:both;width:100%">&nbsp;</div>
			<a onClick="ga('send', 'event', 'Button', 'Click', 'TwitterConnect');" data-href="{$accessUrlTwitter}" class="btn-tslide connectButton" href="javascript:void(0)">&nbsp;<span style="color:white">Connect</span></a>
		</div>
		





		</div><!-- /article -->
	

	</div><!-- /content -->


	<script type="text/javascript">
	
	{literal}
	$(document).on("click",".connectButton", function()
	{
		var link = $(this).attr('data-href');
		
		setTimeout(function(){

			window.location.href=link;
		
		});
	});
	
	{/literal}
</script>