
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"><img src="{$basedomain}assets/_assets/img/title_connect.jpg" width="100%"></div>
		<div class="article divconnect">
		<div class="btnConnect" align="center">
			 <a onClick="ga('send', 'event', 'Button', 'Click', 'FBConnect');" href="{$accessUrlFb}" class="btn-fslide">&nbsp;<span style="color:white">Connect</span></a>
			 <div style="height:30px;clear:both;width:100%">&nbsp;</div>
			<a onClick="ga('send', 'event', 'Button', 'Click', 'TwitterConnect');" href="{$accessUrlTwitter}" class="btn-tslide">&nbsp;<span style="color:white">Connect</span></a>
		</div>
		</div><!-- /article -->
	

	</div><!-- /content -->