
	 <div data-role="footer" style="background-color: #F1C75B; 
	 background-image: url(images/radial_bg.png); 
	 background-position: center bottom; 
	 background-repeat: no-repeat; 
	 background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F1C75B), to(#BF6C0C));  
	 background: -webkit-radial-gradient(circle, #F1C75B, #BF6C0C); 
	 background: -moz-radial-gradient(circle, #F1C75B, #BF6C0C); 
	 background: -ms-radial-gradient(circle, #F1C75B, #BF6C0C);">
    	<h2 id="titlefooterleft">Nestl&eacute; LACTOGEN 3 &copy; 2014. All Right Reserved</h2>
    </div><!-- /footer -->
	
	<div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="add-form" style="background-color:#09a9ed">
		<ul data-role="listview">
            <li  style="background-color:#000"><a href="#" style="text-align:right;background-color:#f84889;color:#fff;" data-rel="close" class="ui-btn">WELCOME!</a></li>
                <li align="right"><a href="{$basedomain}" class="ui-btn" id="menuPanel">Home</a></li>
                <li><a href="{$basedomain}home/about" class="ui-btn" id="menuPanel">About</a></li>
                <li><a href="{$basedomain}home/term" class="ui-btn" id="menuPanel">Term & Condition</a></li>
                <li><a href="{$basedomain}article" class="ui-btn" id="menuPanel">Articles</a></li>
		</ul>

	</div><!-- /panel -->

</div><!-- /page -->
	

</body>
</html>
