
	 <div data-role="footer" style="background-color: #F1C75B; 
	 background-image: url(images/radial_bg.png); 
	 background-position: center center; 
	 background-repeat: no-repeat; 
	 background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F1C75B), to(#BF6C0C));  
	 background: -webkit-radial-gradient(circle, #F1C75B, #BF6C0C); 
	 background: -moz-radial-gradient(circle, #F1C75B, #BF6C0C); 
	 background: -ms-radial-gradient(circle, #F1C75B, #BF6C0C);">
    	<h2 id="titlefooterleft">Nestl&eacute; LACTOGEN 3 &copy; 2014. All Right Reserved</h2>
    </div><!-- /footer -->
	
	<div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="add-form" style="background-color:#09a9ed">
		<ul data-role="listview">
            <li  style="background-color:#000"><a href="#" style="text-align:right;background-color:#f84889;color:#fff;" data-rel="close" class="ui-btn">WELCOME!</a></li>
                <li align="right"><a href="{$basedomain}" class="ui-btn" id="menuPanel">Home</a></li>
                <li><a href="{$basedomain}home/about" class="ui-btn" id="menuPanel">About</a></li>
                <li><a href="{$basedomain}home/term" class="ui-btn" id="menuPanel">Term & Condition</a></li>
                <li><a href="{$basedomain}article" class="ui-btn" id="menuPanel">Articles</a></li>
                {if $user}
                <li><a href="{$logoutUrl}" class="ui-btn" id="menuPanel">Logout</a></li>
                {/if}
		</ul>

	</div><!-- /panel -->

</div><!-- /page -->

<script>
	{literal}
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	 
	  ga('create', 'UA-54500863-1', 'auto');
	  ga('send', 'pageview'); 
	{/literal}
	</script>
	
</body>
</html>
