<div data-role="page" class="jqm-demos ui-responsive-panel" id="panel-responsive-page1" >

    <div data-role="header" style="height:50px;background-image:url({$basedomain}assets/_assets/img/bg_header.jpg)">
        <span align="center" style="margin-left:20px;"><img src="{$basedomain}assets/_assets/img/logo.png" height="70px" /></span>
        <span align="center"class="ui-btn-right" style="margin-top:6px;"><a href="#nav-panel"><img src="{$basedomain}assets/_assets/img/toggle.png" height="30px" /></a></span>
        <!--<a class="ui-btn-right" href="#add-form" ><img src="_assets/img/toggle.png" height="40px" /></a>-->
    </div><!-- /header -->