<div data-role="page" class="jqm-demos ui-responsive-panel" id="panel-responsive-page1" >

    <div data-role="header" style="height:50px;background-image:url({$basedomain}assets/_assets/img/bg_header.jpg)">

	
       <span align="center" style="margin-left:20px;"><img src="{$basedomain}assets/_assets/img/logo.png" height="70px" /></span>
        <span align="center"class="ui-btn-right" style="margin-top:6px;"><a href="#add-form"><img src="{$basedomain}assets/_assets/img/toggle.png" height="30px" /></a></span>

        <!--<a class="ui-btn-right" href="#add-form" ><img src="_assets/img/toggle.png" height="40px" /></a>-->
		
    </div><!-- /header -->
	
	<div data-role="panel" data-position="right" data-position-fixed="true" data-display="reveal" data-theme="a" id="add-form" style="background-color:#09a9ed">
		<ul data-role="listview">
            <li  style="background-color:#000"><a href="#" style="text-align:right;background-color:#f84889;color:#fff;" data-rel="close" class="ui-btn">WELCOME!</a></li>
                <li align="right"><a href="{$basedomain}" class="ui-btn" id="menuPanel">Home</a></li>
                <li><a href="{$basedomain}home/about" class="ui-btn" id="menuPanel">About</a></li>
                <li><a href="{$basedomain}home/term" class="ui-btn" id="menuPanel">Term & Condition</a></li>
                <li><a href="{$basedomain}article" class="ui-btn" id="menuPanel">Articles</a></li>
                {if $user}
                <li><a href="javascript:void(0)" data-href="{$logoutUrl}" class="ui-btn logout" id="menuPanel">Logout</a></li>
                {/if}
		</ul>

	</div><!-- /panel -->
