
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"  align="center"><h1 class="titleArticle">How to join</h1></div>
		<div class="article">
    		<img src="{$basedomain}assets/_assets/img/join.jpg"/ height="950px" width="100%">
		</div><!-- /article -->
		
		
		<div class="article">
			<div id="wrapbtnS" align="left" ><a href="{$basedomain}" class="btnpinkSs"><span style="color:white">back</span></a></div>
			<div id="wrapbtnS" align="center" >
				<a href="#" class="btnpinkSs"><span style="color:white">Ikuti Sekarang</span></a>
			</div>
			<div id="wrapbtnS" align="right" ><a href="#" class="btnpinkSs"><span style="color:white">next</span></a></div>
		</div>
    	

	</div><!-- /content -->