
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article divarticle">
    		<img src="{$basedomain}assets/_assets/img/slide-1-img.png"/ height="200px" width="100%">
		</div><!-- /article -->
		<div class="article">
    		

            <h1 class="titleArticle">Ikut & Menangkan <br/>Hadiah Menarik</h1>

            <p class="isi">Nestlé LACTOGEN 3 ActivGro mengajak Ibu dan Ayah untuk berbagi momen keceriaan Si Kecil yang aktif di Go with ActivGro dan menangkan hadiah menarik lainnya.</p>

		</div><!-- /article -->
		
		<div class="article" align="left"><a href="{$basedomain}home/index2" class="btnpinkS"><span style="color:white">Next</span></a></div>
    	

	</div><!-- /content -->