
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"  align="center"><h1 class="titleArticle">Term & Condition</h1></div>
		
		<div class="article">
    		

            <p class="isi">Program ini diselenggarakan oleh PT. NESTLÉ INDONESIA, berkantor di Perkantoran Hijau Arkadia, Wisma Nestle Lantai 5, Jl. Let. Jend. TB. Simatupang Kav. 88, Jakarta Selatan 12520 (untuk selanjutnya disebut sebagai "Penyelenggara").

Seluruh peserta yang terlibat dan berpartisipasi aktif dalam Program ini ("Peserta"), dengan ini dianggap telah membaca dan memahami dengan baik, serta setuju tanpa syarat untuk patuh dan taat pada syarat dan ketentuan Program sebagaimana tercantum di bawah ini termasuk seluruh perubahannya jika ada ("Ketentuan"). Keputusan Penyelenggara mengenai semua hal-hal yang terkait dengan Program ini bersifat final.</p>

		</div><!-- /article -->
	

	</div><!-- /content -->