
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"><img src="{$basedomain}assets/_assets/img/title_thanks.jpg" width="100%"></div>
		<div class="article">
    		<p class="isi"><strong>telah mengikuti kompetisi Go with ActivGro. Jangan lupa untuk mengganti profile picture dan cover photo di Facebook Ayah dan Ibu Untuk mendapatkan kesempatan Liburan ke Singapur dan hadiah menarik lainnya ya.
			</strong><p>
		</div><!-- /article -->
		<div id="wrapbtn" align="center" >
				<a href="{$basedomain}article" class="btnpinkS"><span style="color:white">Lihat Article Go with ActivGro</span></a>
			</div>

	</div><!-- /content -->