
<div id="wrapperhome2">
	<div id="user" >
		<div id="userContent">
		 <div id="divsmpl">
			<img src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" width="100%" height="100%"/>
		 </div>
		 <div id="wrapcontentuser">
			<div id="contentuserdesc">
				<div class="tittledesc">Ganti Foto Anda</div>
				<div class="isidesc">Silahkan ganti profile picture dan facebook cover/twitter header menggunakan gambar yang telah kami sediakan untuk memenangkan berbagai hadiah menarik dari lactogen ActivGro</div>
			
			</div>
			<div id="btn-desc" align="right">
				<a href="javascript:void(0)" class="btnpinkslide" idfile="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" idcover="{$basedomain}public_assets/cover/{$myfoto.cover}">Download</a>
			</div>
		 
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
{literal}
	
	$(document).on('click','.btnpinkslide', function(){

		var link = $(this).attr('idfile');
		var cover = $(this).attr('idcover');
		window.open(link,'_blank');
		window.open(cover,'_blank');
	})
{/literal}
</script>