
<div id="wrapperhome2">
	<div id="userDownload" >
		<div id="{if $coverfb}userContent{else}userContenttw{/if}">
		<div id="{if $coverfb}divsmpl{else}divsmpltw{/if}">
			<img src="{$basedomain}public_assets/cover/{$myfoto.cover}" width="100%" height="100%"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft">
				<div id="imgframe">
					{*}
					<img src="" width="100%" height="100%" fname="{$myfoto.files}" class="bigImage" fid="{$myfoto.id}"/>
					{/*}
				</div>
			</div>
			<div id="" style="float: left;
    height: 125px;
    margin-left: -148;
    overflow: hidden;
    width: 110;
    margin-top:-10px;
    position: relative;">

				<div id="frame">
					
					<img src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" width="100%" height="100%" id="framedinamis"/>
				</div>
			</div>

			<div id="wrapframeright">
				<div id="descimgframespace">&nbsp;</div>
				
			</div>
		 </div>
		 <div id="{if $coverfb}wrapcontentuserFB{else}wrapcontentuser{/if}">
			<div id="contentuserdesc">
				<div class="tittledesc">Ganti Foto Anda</div>
				<div class="isidesc">Silahkan ganti profile picture dan facebook cover/twitter header menggunakan gambar yang telah kami sediakan untuk memenangkan berbagai hadiah menarik dari lactogen ActivGro</div>
			
			</div>
			<div id="btn-desc" align="right">
				<div style="height:50px"><a href="javascript:void(0)" class="btnpinkslide" idfile="" idcover="{$basedomain}public_assets/cover/{$myfoto.cover}">Download</a></div>
				{if $coverfb}
					<div>
					<a href="javascript:void(0)" class="btn-fP btnpinkslide" idcover="" idfile="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" >Facebook Profile</a>
					</div>
				{else}
					<div>
					<a href="javascript:void(0)" class="btn-tP btnpinkslide" idcover="" idfile="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" >Twitter Profile</a>
					</div>
				{/if}
			</div>

		 
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
{literal}
	
	$(document).on('click','.btnpinkslide', function(){

		window.location.href=basedomain+'home/thanks';
		
		// setTimeout(function(){
			
			var link = $(this).attr('idfile');
			var cover = $(this).attr('idcover');
			if(link!='') window.open(link,'_blank');
			if(cover!='') window.open(cover,'_blank');
			
		// }, 1000);

		
	})
{/literal}
</script>