
<div id="wrapperhome2">
	<div id="user" >
		<div id="userContent">
		 <div id="divsmpl">
			
		 </div>
		 <div id="wrapcontentuser">
			<div id="contentuserdesc">
				<div class="tittledesc">Ganti Foto Anda</div>
				<div class="isidesc">Silahkan ganti profile picture dan facebook cover/twitter header menggunakan gambar yang telah kami sediakan untuk memenangkan berbagai hadiah menarik dari lactogen ActivGro</div>
			
			</div>
			<div id="btn-desc" align="right">
				<a href="#" class="btnpinkslide">Download</a>
			</div>
		 
		</div>
		</div>
	</div>
</div>
