
<div id="wrapperhome2">
	<div id="user" >
		<div id="userContent">
		 <div id="imgsmpl">
			
		 </div>
		 <div id="wrapimgframe">
			<div id="wrapframeleft">
				<div id="imgframe"></div>
			</div>
			<div id="wrapframeright">
				<div id="descimgframespace">&nbsp;</div>
				<div id="descimgframe" align>
					Silahkan pilih frame yang Ibu dan Ayah suka
				</div>
			</div>
		 </div>
		 <div id="wrapcontentuser">
			<div id="contentdesc">
				<div id="framesmall">&nbsp;</div>
				<div id="framesmall">&nbsp;</div>
				<div id="framesmall">&nbsp;</div>
				<div id="framesmall">&nbsp;</div>
			</div>
			<div id="btn-desc" align="right">
				<a href="#" class="btnpinkslide">Continue</a>
			</div>
		 
		</div>
		</div>
	</div>
</div>