
<div id="wrapperhome">
	<div id="slides" align="center">
		 <img src="{$basedomain}assets/file/slide-4.png"/>
		 <div id="divbtnslide">
		 <a href="#" class="btnpinkslide">Select File</a>&nbsp;&nbsp;&nbsp;<span class="fontNunito">or</span>&nbsp;&nbsp;&nbsp;
		<a href="#" class="btnblueslide">Facebook Album</a>
		</div>
		<div id="divcheckslide">
		<input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" checked="checked"/><label for="checkboxG2" class="css-label"></label><strong>Saya setuju dengan peraturan dan ketentuan yang berlaku</strong>
		</div>
	</div>
</div>