
<form method="post" action="{$basedomain}uploadfoto/ajaxUpload" id="uploadImagetolocal">

<div id="wrapperhome">
	<div id="slides" align="center">
		<div id="imgupload"><img src="{$basedomain}assets/file/slide-4.png"/></div>
		 <input type="file" name="fotoupload" style="display:none" id="fotoupload">
		 <div id="divbtnslide">
		 <a href="javascript:void(0)" class="btnpinkslide">Select File</a>&nbsp;&nbsp;&nbsp;{if $fbalbum}<span class="fontNunito">or</span>&nbsp;&nbsp;&nbsp;
		<a href="{$accessUrlFb}" class="btnblueslide">Facebook Album</a>{/if}
		</div>
		<div>
			{if $albumfb}
				{foreach $albumfb as $val}
					<img src="{$val.source}" width="50px" height="50px" class="selectPhoto"/>
				{/foreach}
			{/if}
		</div>
		<div id="divcheckslide">
		<input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" checked="checked"/><label for="checkboxG2" class="css-label"></label><strong>Saya setuju dengan peraturan dan ketentuan yang berlaku</strong>
		<input type='submit' name='submit' id='submitfoto' style='display:none'>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
{literal}
	$(document).on('click','.btnpinkslide', function(){

		$('#fotoupload').trigger('click');
	})

	$(document).on('click','.selectPhoto', function(){

		var fileName = $(this).attr('src');
		
		var loading = "<img src='"+basedomain+"assets/images/loading.gif' />";
		$('#imgupload').html(loading);
		$.post(basedomain+'uploadfoto/getFromFb',{fileName:fileName}, function(data){

			
			
			if (data.status==true){
				
				    window.location.href = basedomain+'uploadfoto/chooseframe';
				
			}

		},"JSON")
	})

	$(document).on('change','#fotoupload', function(){

		var uploadoptions = {
			dataType:  'json', 	
			beforeSubmit: function(data) { 
				
				
				var loading = "<img src='"+basedomain+"assets/images/loading.gif' />";
				$('#imgupload').html(loading);
				
				
			},
			success : function(data) {		

					if(data.status==true){
						
						setTimeout(function() {
						    window.location.href = basedomain+'uploadfoto/chooseframe';
						}, 1000);
						
						 							
					}
						 
			}
			};					

		$("#uploadImagetolocal").ajaxForm(uploadoptions);
		setTimeout(function() {
		    $("#submitfoto").trigger('click');
		}, 1000);
	})
{/literal}
</script>