@font-face {
    font-family: NunitoBold;
    src: url(Nunito-Bold.ttf);
}
@font-face {
    font-family: NunitoRegular;
    src: url(Nunito-Regular.ttf);
}
@font-face {
    font-family: NunitoLight;
    src: url(Nunito-Light.ttf);
}
body{
	background-image:  url(../img/tali.png),url(../img/bgfooter.jpg),url(../img/backgorund.jpg),url(../img/pattern.jpg);
	background-position: center top,bottom,left top,left;
	background-repeat: no-repeat,repeat-x,repeat-x,repeat;
	
	
}
#header{
	margin:0 auto;
	margin-top:30px;
	width:950px;
	height:60px;
	border:10px solid #FDFBFC;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 0px 2px 20px #999;
}
#logo{
	margin:0 auto;
	background-color:#FDFBFC;
	float:left;
	width:260px;
	height:60px;
	
}
#menu{
	margin:0 auto;
	background-color:#F73E82;
	float:right:
	width:600px;
	height:60px;
	overflow:hidden;
}
#wrapper{
	margin: 0 auto;
	margin-top:25px;
	width:1000px;
	overflow:auto;
	border:0px solid #000;
}
#wrapperhome{
	margin: 0 auto;
	margin-top:25px;
	width:1120px;
	height:450px;
	background-image:url(../img/bg_home.PNG);
	background-position:center;
	background-repeat:no-repeat;
	overflow:auto;
	border:0px solid #000;
}
#wrapdetailarticle{
	margin: 0 auto;
	margin-top:25px;
	width:980px;
	overflow:auto;
	border:0px solid #000;
	border-radius:15px;
	box-shadow: 0px 6px 15px 0px #007DCA;
}
#wrapperpembatas{
	margin: 0 auto;
	margin-top:2px;
	width:1000px;
	overflow:auto;
	border:0px solid #000;
}
#slides{
	margin:0 auto;
	margin-top:40px;
	background-color:#EEECED;
	width:743px;
	height:317px;
	overflow:hidden;
	border:15px solid #fdf9f9;
	border-radius:15px;
	box-shadow: 0px 0px 15px #888;
	
}
#article{
	margin:0 auto;
	margin-left:20px;
	margin-bottom:15px;
	float:left;
	background-color:#EEECED;
	width:275px;
	height:365px;
	border:15px solid #FFFDFE;
	border-radius:15px;
	box-shadow: 0px 2px 15px #888;
	
}
#articeDetail{
	margin:0 auto;
	background-color:#EEECED;
	width:950px;
	min-height:365px;
	overflow:auto;
	border:15px solid #FFFDFE;
	border-radius:15px;
	box-shadow: 0px 2px 15px #888;
}
#articleImg{
	margin:0 auto;
	margin-top:10px;
	background-color:#EEECED;
	width:434px;
	overflow:hidden;
	height:255px;
	border:15px solid #FFFDFE;
	border-radius:15px;
	box-shadow: 0px 6px 15px 0px #D9D7D8;
}
#articleDesc{
	margin:0 auto;
	padding:3px 35px 15px 35px;
	background-color:#EEECED;
	width:850px;
	border:0px solid #FFFDFE;
	border-radius:15px;
}
#articleDesc .title{
	font-family: NunitoBold;
	font-size:32px;
	color:#009CF1;
	border:0px solid #FFFDFE;
	text-shadow:2px 2px 0 #fff,
		-2px -2px 0 #fff,
		2px -2px 0 #fff,
		-2px 2px 0 #fff,
		0px 2px 0 #fff,
		2px 0px 0 #fff,
		0px -2px 0 #fff,
		-2px 0px 0 #fff,
		0px 2px 2px #000;
}
#articleDesc .title p{
	width:650px; 
	border:0px solid #000000;
	word-wrap:break-word;
	margin-bottom:10px;
	margin-top:0px;
}
#articleDesc .date{
	font-family: NunitoLight;
	font-size:14px;
	color:#B7B7B7;
}
#articleDesc .more{
	font-family: NunitoBold;
	font-size:15px;
	color:#F73D84;
}
#articleDesc .brief{
	font-family: NunitoLight;
	font-size:13px;
	color:#7F7F81;
}
#wrapbtn{
	margin:0 auto;
	margin-left:20px;
	margin-bottom:15px;
	padding-top:10px;
	float:left;
	width:305px;
	height:40px;
	border:0px solid #FFFDFE;
	
}
#wrapperbtn{
	margin: 0 auto;
	margin-top:20px;
	width:1000px;
	border:0px solid #000;
}
#divbtn{
	margin: 0 auto;
	
	border:0px solid #000;
}

#divbtnslide{
	margin: 0 auto;
	margin-top:5px;
	border:0px solid #000;
}
#divbtn a{
	text-decoration:none;
}
.btnpink{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-color:#F73E82;
	color:#fff;
	padding: 5px 35px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #8E244A;
	box-shadow: 0px 6px 10px 0px #007DCA;
}
.btnpinkslide{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-color:#F73E82;
	color:#fff;
	padding: 5px 35px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #8E244A;
	box-shadow: 0px 6px 10px 0px #C0BEBE;
}
.btnpinkslide:hover{
	background-color:#FD698B;
}
.btn-f{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-image:url(../img/btn-f.JPG);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#465FA1;
	color:#fff;
	padding: 5px 15px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #8E244A;
	box-shadow: 0px 6px 10px 0px #007DCA;
}
.btn-f:hover{
	background-image:url(../img/btn-fhover.JPG);
	background-color:#2b69bb;
}
.btn-t{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-image:url(../img/btn-t.JPG);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#59B6FC;
	color:#fff;
	padding: 5px 15px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #8E244A;
	box-shadow: 0px 6px 10px 0px #007DCA;
}
.btn-t:hover{
	background-image:url(../img/btn-thover.JPG);
	background-color:#48c9fc;
}
.btn-fslide{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-image:url(../img/btn-f.JPG);
	background-position: 15px 0px; 
	background-repeat:no-repeat;
	background-color:#465FA1;
	color:#fff;
	padding: 5px 40px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #183C6C;
	box-shadow: 0px 6px 10px 0px #C0BEBE;
}
.btn-fslide:hover{
	background-image:url(../img/btn-fhover.JPG);
	background-color:#2b69bb;
}
.btn-tslide{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-image:url(../img/btn-t.JPG);
	background-position: 15px 0px; 
	background-repeat:no-repeat;
	background-color:#59B6FC;
	color:#fff;
	padding: 5px 45px;
	border:3px solid #FFF;
	border-radius:30px;
	text-shadow: 1px 2px #007BAB;
	box-shadow: 0px 6px 10px 0px #C0BEBE;
}
.btn-tslide:hover{
	background-image:url(../img/btn-thover.JPG);
	background-color:#48c9fc;
}
.btnpink:hover{
	font-family: NunitoBold;
	font-size:18px;
	text-decoration:none;
	background-color:#FD698B;
	color:#fff;
	padding: 5px 35px;
	border:3px solid #FFF;
	border-radius:30px;
}
#footer{
	margin:0 auto;
	margin-bottom:23px;
	width:1350px;
	height:189px;
	border:0px solid #FFF;
	
	/*background-image:url(../img/footer.png);
	background-position:center;
	background-repeat:no-repeat;*/
}
#deskripsi{
	padding:15px;
}
#deskripsi .title{
	font-family: NunitoBold;
	font-size:17px;
	color:#009CF1;
}
#deskripsi .date{
	font-family: NunitoLight;
	font-size:14px;
	color:#B7B7B7;
}
.kalender{
	background-image:url(../img/kalender.png);
	background-repeat:no-repeat;
	width:210px;
	height:22px;
}
#deskripsi .more{
	font-family: NunitoBold;
	font-size:15px;
	color:#F73D84;
}
#deskripsi .brief{
	font-family: NunitoLight;
	font-size:13px;
	color:#7F7F81;
}
.pembatas{
	font-family: NunitoBold;
	font-size:30px;
	color:#fff;
}
.strip{
	font-size:25px;
}