
    <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"  align="center"><h1 class="titleArticle">Article</h1></div>
		{if $article}
		<div class="article divarticle">
			<img src="{$app_domain}public_assets/{$article[0].image}" height="150px" width="100%">
			<div id="deskripsi">
				<span class="title">{$article[0].title}</span><br/>
				<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$article[0].changeDate}</span><br/>
				<p class="brief">
					{$article[0].content}
				</p><br/>
			</div>

		</div><!-- /article -->
		{/if}
		<div class="article">
			<div id="wrapbtn" align="left" ><a href="{$basedomain}article/detail/?id={$prevNextArticle.prev}" class="btnpinkS" style="{if $prevNextArticle.prev=='#'}display:none{/if}"><span style="color:white">Prev</span></a></div>
			<div id="wrapbtn" align="center" >
				<a href="javascript:void(0)" class="btn-f" data-href="{$basedomain}article/detail/?id={$article[0].id}">&nbsp;</a>&nbsp;&nbsp;&nbsp;
				<a href="{$basedomain}article/detail/?id={$article[0].id}" title="{$article[0].title}" class="btn-t">&nbsp;</a>
			</div>
			<div id="wrapbtn" align="right" ><a href="{$basedomain}article/detail/?id={$prevNextArticle.next}" class="btnpinkS" style="{if $prevNextArticle.next=='#'}display:none{/if}"><span style="color:white">next</span></a></div>
		</div><br/><br/><br/><br/>
		<div class="article" align="center">
			<span class="pembatas">- - - - - -  &nbsp;&nbsp;Article Lainnya&nbsp;&nbsp;  - - - - - -</span>
		</div>
		<br/>
		<br/>
		{if $getRandomArticle}
		{foreach $getRandomArticle as $val}
		<div class="article divarticle">
			<img src="{$app_domain}public_assets/{$val.image}"/ height="150px" width="100%">
			<div id="deskripsi">
				<span class="title">{$val.title}</span><br/>
				<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
				<p class="brief">{$val.brief}</p><br/>
				<span><a href="{$basedomain}article/detail/?id={$val.id}"  class="more">Selengkapnya</a></span>
			</div>

		</div><!-- /article -->
		{/foreach}
		{/if}

	</div><!-- /content -->