 <div role="main" class="ui-content jqm-content jqm-fullwidth" style="border:0px solid #000;">
		<div class="article"  align="center"><h1 class="titleArticle">Article</h1></div>
		
		<div class="article divarticle">
			<img src="{$basedomain}assets/_assets/img/gambar.jpg"/ height="150px" width="100%">
			<div id="deskripsi">
				<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
				<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15-09-20114</span><br/>
				<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
				<span><a href="detail"  class="more">Selengkapnya</a></span>
			</div>

		</div><!-- /article -->
		
		<div class="article divarticle">
			<img src="{$basedomain}assets/_assets/img/gambar.jpg"/ height="150px" width="100%">
			<div id="deskripsi">
				<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
				<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15-09-20114</span><br/>
				<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
				<span><a href="detail"  class="more">Selengkapnya</a></span>
			</div>

		</div><!-- /article -->
		
		<div class="article divarticle">
			<img src="{$basedomain}assets/_assets/img/gambar.jpg"/ height="150px" width="100%">
			<div id="deskripsi">
				<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
				<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15-09-20114</span><br/>
				<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
				<span><a href="detail"  class="more">Selengkapnya</a></span>
			</div>

		</div><!-- /article -->
		
		<div class="article" align="center"><a href="#" class="btnpink"><span style="color:white">Load More Articles</span></a></div>
    	

	</div><!-- /content -->